---
import { Image } from 'astro:assets'
import avatar from '../assets/images/avatar.jpg'
import { Icon } from 'astro-icon/components'
import Message from './Message.astro'
---

<article class="relative w-60 border-[.65rem] border-white rounded-[1.7rem] overflow-hidden shadow-2xl bg-gray-100 after:absolute after:top-0 after:left-2/4 after:-translate-x-2/4 after:block after:w-32 after:h-5 after:bg-white after:rounded-b-2xl">
  <header class="flex items-center p-2.5 pt-7 text-white bg-gradient-to-r from-gradient-violet to-gradient-magenta rounded-b-md">
    <Icon class="size-3.5 scale-x-75" name="chevron-back-sharp" />
    <div class="flex items-center gap-x-1.5">
      <div>
        <Image class="size-6 border border-white rounded-full" src={avatar} alt="Avatar" />
      </div>
      <div class="text-white">
        <div class="font-medium text-[.7rem]">Samuel Green</div>
        <div class="text-[.5rem] opacity-50">Available to Walk</div>
      </div>
    </div>
    <Icon class="size-2.5 ml-auto" name="ellipsis-vertical" />
  </header>
  <div class="p-2 space-y-4">
    <Message 
      text={[
        'That sounds great. I’d be happy with that.',
        'Could you send over some pictures of your dog, please?'
      ]} 
    />
    <Message
      user
      image={[
        'dog-image-1.jpg',
        'dog-image-2.jpg',
        'dog-image-3.jpg'
      ]}
      text={[
        'Here are a few pictures. She’s a happy girl!',
        'Can you make it?'
      ]} 
    />
    <Message 
      text={[
        'She looks so happy! The time we discussed works. How long shall I take her out for?',
      ]},
      offers={[
        { product: '30 minute walk', price: 29 },
        { product: '1 hour walk', price: 49 },
      ]}
    />
  </div>
  <footer class="p-2">
    <div class="flex justify-between items-center p-1 pl-5 rounded-2xl bg-white">
      <div class="text-[.525rem] text-gray-300">Type a message…</div>
      <div class="p-1 bg-primary-desaturated-violet rounded-full">
        <Icon class="text-white translate-x-[.05rem]" name="chevron-forward" />
      </div>
    </div>
  </footer>
</article>
